/* Custom properties/variables  */
:root {
    --main-blue: #011d47;
    --main-beige: #D4C39B;
    --main-gold: #C4A250;
    --dark-blue: #041124;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

/* Base styles */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(black);
    background-color: #ffe600;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}
/* About Section STARTS!!!!! */
.rotated-text {
    transform: rotate(270deg);
    transform-origin: center;
    color: var(--main-gold);
}
.row{
    height: 60vh;
    overflow: hidden;
}
.bg-1{
    background: url("../assets/images/tun.jpg");
    background-size: cover;
}
.bg-2{
    background: url("../assets/images/motifonwhite.png");
    background-size: cover;
}
.bg-3{
    background: url("../assets/images/heading1.jpg");
    background-size: cover;
}
.bg-4{
    background: url("../assets/images/Motifonblue.jpg");
    background-size: cover;
}
.bg-5{
    background-color: var(--main-blue);
}
.bg-6{
    background-color: #bfd6ed;
}
.bg-7{
    background-color: #cdd9e4;
}









/* About Section ENDS!!!!! */