/* Custom properties/variables  */
:root {
    --main-blue: #011d47;
    --main-beige: #D4C39B;
    --main-gold: #C4A250;
    --dark-blue: #041124;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}



/* Base styles */


/* About Section STARTS!!!!! */
#About-Section #heroo {
	overflow : hidden;
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
}
#About-Section #content {
    background: url("../assets/images/motif.jpg");
	background-size: auto;
}
#About-Section #heroo .layer {
	background-position: bottom center;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	 /* badalha l absolute wala relative khater fixed matemshish */
	z-index: -1;
}

#heroo-mobile {
	display: none;
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom / cover;
	height: 320px;
}

#About-Section #content #container .first-section {
	padding: 50px 0 20px 0;
	display: none;
}
.text-header {
	font-size: 50px;
	text-align: center;
}
#About-Section #content .container .first-section .row h1 {
	line-height: 120%;
	margin-bottom: 30px;
}
#About-Section #content .container .first-section .row p {
	color: #ede0d5;
	font-size: 18px;
	line-height: 150%;
}

#About-Section #heroo .layer, #About-Section #heroo {
	min-height: 800px;
}

#About-Section #heroo .layer-bg {
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg');
}
#About-Section #heroo .layer-1 {
	background-image: url('../assets/images/INDABALOGO.png');
	background-position: center;
}
#About-Section #heroo .layer-2 {
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_02.png');
}
#About-Section #heroo .layer-3 {
	background: rgb(23,73,115);
    background: linear-gradient(0deg, rgba(23,73,115,1) 15%, rgba(11,23,46,1) 68%);
	opacity: 0.7;
}
#About-Section #heroo .layer-4 {
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png');
}
#About-Section #heroo .layer-overlay {
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png');
}

/* @media only screen and (max-width: 768px) {
	#About-Section #heroo .layer-1 {
		background-position: 26% bottom;
	}
	#About-Section #heroo .layer-3 {
		background-position: 35% bottom;
	}
} */




/* About Section ENDS!!!!! */
/* foooter and Pre-footer STARTS!!!!!! */
#Footer footer {
    font-size: 14px;
    position: relative;
	overflow: hidden;
}

#Footer footer a {
    color: #fff;
}

#Footer footer a:hover {
    color: #f8f9fa;
}

#Footer footer .form-control {
    border-color: #343a40;
}

#Footer footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
#Footer footer .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
#Footer footer .btn-primary:focus,
#Footer footer .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

#Footer footer .bg-secondary {
  background-color: #23272b;
}

#Footer footer .text-muted {
  color: #adb5bd;
}

#Footer footer h5 {
  color: #fff;
}

#Footer footer ul li {
  margin-bottom: 10px;
}

/* #Footer footer ul li a{
	color: white;
} */

#Footer footer ul li:last-child {
  margin-bottom: 0;
}

#Footer footer .input-group-addon {
  background-color: #343a40;
  border-color: #343a40;
  color: #fff;
}

#Footer footer .input-group-addon i {
  color: #adb5bd;
}

#Footer footer .form-control:focus {
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

#Footer footer .btn-primary.disabled,
#Footer footer .btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

@media (max-width: 767px) {
   #Footer footer .row {
    flex-direction: column;
  }
  
  #Footer footer .col-md-3:first-child {
    margin-bottom: 30px;
  }
}

#Footer footer #lightings {
	bottom: -21px;
	position: absolute;
	width: 100%;
	opacity: .3g;
}
 
@media only screen and (max-width: 600px) {
	#Footer footer #lightings {
		display: none;
	}
}
 
#Footer footer #lightings section {
	/*border-radius*/
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 20px;
	width: 100%;
	position: relative;
	margin: auto;
 
}
 
#Footer footer #lightings #one {
	/*animation*/
	-webkit-animation: one 5s ease-in-out infinite alternate;
	-moz-animation: one 5s ease-in-out infinite alternate;
	-ms-animation: one 5s ease-in-out infinite alternate;
	-o-animation: one 5s ease-in-out infinite alternate;
	animation: one 5s ease-in-out infinite alternate;
}
 
@-webkit-keyframes one {
	from {
		-webkit-box-shadow: 0 0 250px 20px #473C78;
	}
 
	to {
		-webkit-box-shadow: 0 0 100px 15px #F72A3B;
	}
}
 
@-moz-keyframes one {
	from {
		-moz-box-shadow: 0 0 250px 20px #473C78;
	}
 
	to {
		-moz-box-shadow: 0 0 100px 15px #F72A3B;
	}
}
 
@-o-keyframes one {
	from {
		-o-box-shadow: 0 0 250px 20px #473C78;
	}
 
	to {
		-o-box-shadow: 0 0 100px 15px #F72A3B;
	}
}
 
@keyframes one {
	from {
		box-shadow: 0 0 250px 20px #473C78;
	}
 
	to {
		box-shadow: 0 0 100px 15px #F72A3B;
	}
}
 
#Footer footer #lightings #one #two {
	width: 90%;
	/*animation*/
	-webkit-animation: two 4s ease-in-out infinite alternate;
	-moz-animation: two 4s ease-in-out infinite alternate;
	-ms-animation: two 4s ease-in-out infinite alternate;
	-o-animation: two 4s ease-in-out infinite alternate;
	animation: two 4s ease-in-out infinite alternate;
}
 
@-webkit-keyframes two {
	from {
		-webkit-box-shadow: 0 0 250px 20px #18C499;
	}
 
	to {
		-webkit-box-shadow: 0 0 100px 15px #D8F05E;
	}
}
 
@-moz-keyframes two {
	from {
		-moz-box-shadow: 0 0 250px 20px #18C499;
	}
 
	to {
		-moz-box-shadow: 0 0 100px 15px #D8F05E;
	}
}
 
@-o-keyframes two {
	from {
		-o-box-shadow: 0 0 250px 20px #18C499;
	}
 
	to {
		-o-box-shadow: 0 0 100px 15px #D8F05E;
	}
}
 
@keyframes two {
	from {
		box-shadow: 0 0 250px 20px #18C499;
	}
 
	to {
		box-shadow: 0 0 100px 15px #D8F05E;
	}
}
 
#Footer footer #lightings #one #two #three {
	width: 80%;
	/*animation*/
	-webkit-animation: three 3s ease-in-out infinite alternate;
	-moz-animation: three 3s ease-in-out infinite alternate;
	-ms-animation: three 3s ease-in-out infinite alternate;
	-o-animation: three 3s ease-in-out infinite alternate;
	animation: three 3s ease-in-out infinite alternate;
}
 
@-webkit-keyframes three {
	from {
		-webkit-box-shadow: 0 0 250px 20px #FFDD00;
	}
 
	to {
		-webkit-box-shadow: 0 0 100px 15px #3E33FF;
	}
}
 
@-moz-keyframes three {
	from {
		-moz-box-shadow: 0 0 250px 20px #FFDD00;
	}
 
	to {
		-moz-box-shadow: 0 0 100px 15px #3E33FF
	}
}
 
@-o-keyframes three {
	from {
		-o-box-shadow: 0 0 250px 20px #FFDD00;
	}
 
	to {
		-o-box-shadow: 0 0 100px 15px #3E33FF
	}
}
 
@keyframes three {
	from {
		box-shadow: 0 0 250px 20px #FFDD00;
	}
 
	to {
		box-shadow: 0 0 100px 15px #3E33FF
	}
}
 
#Footer footer #lightings #one #two #three #four {
	width: 70%;
	/*animation*/
	-webkit-animation: four 2s ease-in-out infinite alternate;
	-moz-animation: four 2s ease-in-out infinite alternate;
	-ms-animation: four 2s ease-in-out infinite alternate;
	-o-animation: four 2s ease-in-out infinite alternate;
	animation: four 2s ease-in-out infinite alternate;
}
 
@-webkit-keyframes four {
	from {
		-webkit-box-shadow: 0 0 250px 20px #781848;
	}
 
	to {
		-webkit-box-shadow: 0 0 100px 15px #F2BBE9;
	}
}
 
@-moz-keyframes four {
	from {
		-moz-box-shadow: 0 0 250px 20px #781848;
	}
 
	to {
		-moz-box-shadow: 0 0 100px 15px #F2BBE9;
	}
}
 
@-o-keyframes four {
	from {
		-o-box-shadow: 0 0 250px 20px #781848;
	}
 
	to {
		-o-box-shadow: 0 0 100px 15px #F2BBE9;
	}
}
 
@keyframes four {
	from {
		shadow: 0 0 250px 20px #781848;
	}
 
	to {
		shadow: 0 0 100px 15px #F2BBE9;
	}
}
 
#Footer footer #lightings #one #two #three #four #five {
	width: 60%;
	/*animation*/
	-webkit-animation: five 1s ease-in-out infinite alternate;
	-moz-animation: five 1s ease-in-out infinite alternate;
	-ms-animation: five 1s ease-in-out infinite alternate;
	-o-animation: five 1s ease-in-out infinite alternate;
	animation: five 1s ease-in-out infinite alternate;
}
 
@-webkit-keyframes five {
	from {
		-webkit-box-shadow: 0 0 250px 20px #42F2A1;
	}
 
	to {
		-webkit-box-shadow: 0 0 100px 15px #F4F6AD;
	}
}
 
@-moz-keyframes five {
	from {
		-moz-box-shadow: 0 0 250px 20px #42F2A1;
	}
 
	to {
		-moz-box-shadow: 0 0 100px 15px #F4F6AD;
	}
}
 
@-o-keyframes five {
	from {
		-o-box-shadow: 0 0 250px 20px #42F2A1;
	}
 
	to {
		-o-box-shadow: 0 0 100px 15px #F4F6AD;
	}
}
 
@keyframes five {
	from {
		box-shadow: 0 0 250px 20px #42F2A1;
	}
 
	to {
		box-shadow: 0 0 100px 15px #F4F6AD;
	}
}
/* foooter and Pre-footer ENDS!!!!!! */

/* Hackathon */

#Hackaton-Section .hackathon-panel.blue {
    background-color: #0b172e;
}

#Hackaton-Section .hackathon-panel.blue div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	width: 50%;

}

#Hackaton-Section .hackathon-panel.blue h1{
    font-size: 5rem;
}

#Hackaton-Section .hackathon-panel.red h2 {
    font-size: 3rem;
}

#Hackaton-Section .hackathon-panel.red {
    background-color: #bfd6ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vh;
}

#Hackaton-Section .hackathon-panel.orange {
    background-color: #225c97;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vh;
}

#Hackaton-Section .hackathon-panel {
    height: 100vh;
}


@media screen and (min-width: 426px) {
    #Hackaton-Section .hackathon-panel.red {
            width: 50vw;
    }
    
    #Hackaton-Section .hackathon-panel.orange {
        width: 50vw;
    }
    
    #Hackaton-Section .hackathon-panel.purple {
        width: 50vw;
    }
    
    #Hackaton-Section .hackathon-panel.green {
        width: 50vw;
    }
}

@media screen and (max-width:426px) {
    #Hackaton-Section .hackathon-panel.blue div.col:first-of-type {
            display: none;
    }

    
}

@media screen and (max-width:796px) {
    #Hackaton-Section .hackathon-panel.blue h1 {
        font-size: 3rem;
    }
    
    #Hackaton-Section .hackathon-panel.red h2 {
        font-size: 2rem;
    }
}

