/* Custom properties/variables  */
:root {
    --main-blue: #011d47;
    --main-beige: #D4C39B;
    --main-gold: #C4A250;
    --dark-blue: #041124;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

/* Base styles */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(black);
    background-color: #ffe600;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}
/* About Section STARTS!!!!! */
.rotated-text {
    transform: rotate(270deg);
    transform-origin: center;
    color: var(--main-gold);
}
.row{
    height: 60vh;
    overflow: hidden;
}
.bg-1{
    background: url("../assets/images/tun.jpg");
    background-size: cover;
}
.bg-2{
    background: url("../assets/images/motifonwhite.png");
    background-size: cover;
}
.bg-3{
    background: url("../assets/images/heading1.jpg");
    background-size: cover;
}
.bg-4{
    background: url("../assets/images/Motifonblue.jpg");
    background-size: cover;
}
.bg-5{
    background-color: var(--main-blue);
}
.bg-6{
    background-color: #bfd6ed;
}
.bg-7{
    background-color: #cdd9e4;
}



/* About Section ENDS!!!!! */
/* foooter and Pre-footer STARTS!!!!!! */
footer {
    font-size: 14px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #f8f9fa;
}

footer .form-control {
    border-color: #343a40;
}

footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
footer .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
footer .btn-primary:focus,
footer .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

footer .bg-secondary {
  background-color: #23272b;
}

footer .text-muted {
  color: #adb5bd;
}

footer h5 {
  color: #fff;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li:last-child {
  margin-bottom: 0;
}

footer .input-group-addon {
  background-color: #343a40;
  border-color: #343a40;
  color: #fff;
}

footer .input-group-addon i {
  color: #adb5bd;
}

footer .form-control:focus {
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

footer .btn-primary.disabled,
footer .btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

@media (max-width: 767px) {
  footer .row {
    flex-direction: column;
  }
  
  footer .col-md-3:first-child {
    margin-bottom: 30px;
  }
}
/* foooter and Pre-footer ENDS!!!!!! */